## Day 4
### Date: 28 May 2019

In [1005]:
len(df.values)

637

### Q1 Print no. of matches won by each team based on year wise (each year as one column)
* with loops

In [583]:
import pandas as pd
df=pd.read_csv('Match.csv')
wins=df['match_winner']
years=df['Season_Year']
years8=df[['Season_Year','match_winner']][df.Season_Year==2008]
years9=df[['Season_Year','match_winner']][df.Season_Year==2009]
years10=df[['Season_Year','match_winner']][df.Season_Year==2010]
years11=df[['Season_Year','match_winner']][df.Season_Year==2011]
years12=df[['Season_Year','match_winner']][df.Season_Year==2012]
years13=df[['Season_Year','match_winner']][df.Season_Year==2013]
years14=df[['Season_Year','match_winner']][df.Season_Year==2014]
years15=df[['Season_Year','match_winner']][df.Season_Year==2015]
years16=df[['Season_Year','match_winner']][df.Season_Year==2016]
years17=df[['Season_Year','match_winner']][df.Season_Year==2017]

In [584]:
dd=pd.read_csv('YearWise.csv')
dd['Team']=Teams
dd['2008']=wins8
dd['2009']=wins9
dd['2010']=wins10
dd['2011']=wins11
dd['2012']=wins12
dd['2013']=wins13
dd['2014']=wins14
dd['2015']=wins15
dd['2016']=wins16
dd['2017']=wins17
#dd['Teams']=tc9
#dd['2009']=[*x9]
#dd = dd.drop(['Team'], axis=1)
dd.to_csv('YearWise.csv',index=False)
#del dd[0]

In [1061]:
Teams=[*df.groupby(['match_winner']).groups.keys()]
#Teams

In [ ]:
wins8=[];wins9=[];wins10=[];wins11=[];wins12=[];wins13=[];wins14=[];wins15=[];wins16=[];wins17=[]
for i in range(len(Teams)):
    wins8.append([*years8['match_winner'][years8.match_winner==Teams[i]].value_counts()])
for i in range(len(Teams)):
    wins9.append([*years9['match_winner'][years9.match_winner==Teams[i]].value_counts()])
for i in range(len(Teams)):
    wins10.append([*years10['match_winner'][years10.match_winner==Teams[i]].value_counts()])
for i in range(len(Teams)):
    wins11.append([*years11['match_winner'][years11.match_winner==Teams[i]].value_counts()])
for i in range(len(Teams)):
    wins12.append([*years12['match_winner'][years12.match_winner==Teams[i]].value_counts()])
for i in range(len(Teams)):
    wins13.append([*years13['match_winner'][years13.match_winner==Teams[i]].value_counts()])
for i in range(len(Teams)):
    wins14.append([*years14['match_winner'][years14.match_winner==Teams[i]].value_counts()])
for i in range(len(Teams)):
    wins15.append([*years15['match_winner'][years15.match_winner==Teams[i]].value_counts()])
for i in range(len(Teams)):
    wins16.append([*years16['match_winner'][years16.match_winner==Teams[i]].value_counts()])
for i in range(len(Teams)):
    wins17.append([*years17['match_winner'][years17.match_winner==Teams[i]].value_counts()])

In [586]:
dd

,Team,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Chennai Super Kings,[9],[8],[9],[11],[10],[12],[10],[10],[],[]
1,Deccan Chargers,[2],[9],[8],[6],[4],[],[],[],[],[]
2,Delhi Daredevils,[7],[10],[7],[4],[11],[3],[2],[5],[7],[6]
3,Gujarat Lions,[],[],[],[],[],[],[],[],[9],[4]
4,Kings XI Punjab,[10],[7],[4],[7],[8],[8],[12],[3],[4],[7]
5,Kochi Tuskers Kerala,[],[],[],[6],[],[],[],[],[],[]
6,Kolkata Knight Riders,[6],[3],[7],[8],[12],[6],[11],[7],[8],[9]
7,Mumbai Indians,[7],[5],[11],[10],[10],[13],[7],[10],[7],[11]
8,Pune Warriors,[],[],[],[4],[4],[4],[],[],[],[]
9,Rajasthan Royals,[13],[6],[6],[6],[7],[11],[7],[7],[],[]
10,Rising Pune Supergiants,[],[],[],[],[],[],[],[],[5],[10]
11,Royal Challengers Bangalore,[4],[9],[8],[10],[8],[9],[5],[8],[9],[3]
12,Sunrisers Hyderabad,[],[],[],[],[],[10],[6],[7],[11],[8]
13,abandoned,[],[],[],[],[],[],[],[],[],[1]
14,tied,[],[],[],[],[],[],[],[],[],[1]

### Q1 Print no. of matches won by each team based on year wise (each year as one column)

In [1012]:
df.groupby(['Season_Year'])['match_winner'].value_counts().unstack(level=0).fillna('-')

Season_Year                 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017
match_winner
Chennai Super Kings            9    8    9   11   10   12   10   10    -    -
Deccan Chargers                2    9    8    6    4    -    -    -    -    -
Delhi Daredevils               7   10    7    4   11    3    2    5    7    6
Gujarat Lions                  -    -    -    -    -    -    -    -    9    4
Kings XI Punjab               10    7    4    7    8    8   12    3    4    7
Kochi Tuskers Kerala           -    -    -    6    -    -    -    -    -    -
Kolkata Knight Riders          6    3    7    8   12    6   11    7    8    9
Mumbai Indians                 7    5   11   10   10   13    7   10    7   11
Pune Warriors                  -    -    -    4    4    4    -    -    -    -
Rajasthan Royals              13    6    6    6    7   11    7    7    -    -
Rising Pune Supergiants        -    -    -    -    -    -    -    -    5   10
Royal Challengers Bangalore    4    9    8   10    8    9    5    8    9    3
Sunrisers Hyderabad            -    -    -    -    -   10    6    7   11    8
abandoned                      -    -    -    -    -    -    -    -    -    1
tied                           -    -    -    -    -    -    -    -    -    1

## Q2 Print  ManOfMach count of each player in  Hyderabad stadium

In [1060]:
df['ManOfMach'][df.City_Name=='Hyderabad'].value_counts()

DA Warner            6
DW Steyn             3
YK Pathan            2
SK Raina             2
A Mishra             2
V Sehwag             2
GH Vihari            2
CH Morris            1
MJ McClenaghan       1
AB Dinda             1
V Kohli              1
DJ Bravo             1
PC Valthaty          1
Mustafizur Rahman    1
SE Marsh             1
WP Saha              1
SL Malinga           1
PA Patel             1
R Vinay Kumar        1
SK Trivedi           1
G Gambhir            1
AT Rayudu            1
Mandeep Singh        1
DJG Sammy            1
I Sharma             1
B Kumar              1
SC Ganguly           1
UT Yadav             1
MR Marsh             1
Name: ManOfMach, dtype: int64

## Q3 Print number of matches won and loss(as two columns). Consider as win when a team wins Toss  and Match . print for each and every team

In [1054]:
wn=df['match_winner'][df['Toss_Winner']==df['match_winner']].value_counts()
df['match_winner'][df['Toss_Winner']!=df['match_winner']].value_counts()
wn,[lose]

(Mumbai Indians                 48
 Kolkata Knight Riders          44
 Chennai Super Kings            42
 Royal Challengers Bangalore    35
 Rajasthan Royals               34
 Delhi Daredevils               33
 Kings XI Punjab                28
 Deccan Chargers                19
 Sunrisers Hyderabad            17
 Gujarat Lions                  10
 Rising Pune Supergiants         7
 Kochi Tuskers Kerala            4
 Pune Warriors                   3
 Name: match_winner, dtype: int64,
 [[52, 46, 85, 17, 78, 8, 71, 66, 34, 55, 15, 80, 35]])

## Get the first match winner of every year

In [1059]:
df.groupby(['Season_Year'])['match_winner'].first()

Season_Year
2008      Kolkata Knight Riders
2009             Mumbai Indians
2010      Kolkata Knight Riders
2011        Chennai Super Kings
2012             Mumbai Indians
2013      Kolkata Knight Riders
2014      Kolkata Knight Riders
2015      Kolkata Knight Riders
2016    Rising Pune Supergiants
2017        Sunrisers Hyderabad
Name: match_winner, dtype: object

## Q4  Get the first match winner of every year

In [1013]:
df.groupby(['Season_Year'])['match_winner'].first()

Season_Year
2008      Kolkata Knight Riders
2009             Mumbai Indians
2010      Kolkata Knight Riders
2011        Chennai Super Kings
2012             Mumbai Indians
2013      Kolkata Knight Riders
2014      Kolkata Knight Riders
2015      Kolkata Knight Riders
2016    Rising Pune Supergiants
2017        Sunrisers Hyderabad
Name: match_winner, dtype: object